/* ======================================
            NAVBAR SECTION
====================================== */

.navbar {
    background-color: #FFFFFF;
    padding: 18px 0 !important;
}

.nav-link.active {
    color: #E5745D !important;
}

.nav-link {
    font-family: "Jost", sans-serif;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 26px;
    color: #00413D !important;

    margin-right: 43px;
    transition: 0.4s ease-in-out;
}

.nav-link:hover {
    color: #E5745D !important;
}

.btn {
    font-family: "Jost", sans-serif;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 12px;
    color: #FFFFFF !important;

    background-color: #E5745D !important;
    padding: 21px 39px !important;
    border: 4px solid #E5745D !important;
    border-radius: 0 !important;
    position: relative;
    display: inline-block;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 4px;
    border: 1px solid #E5745D !important;

    transition: 0.4s ease-in-out;
}

.btn:hover::before {
    border: 1px solid white !important;
}

/* ======================================
            HERO SECTION
====================================== */

.section-hero {
    background-color: #00413D !important;
}

.hero-content {
    padding: 221px 0px;

    z-index: 100;
}

.hero-content h1 {
    font-family: "Vollkorn", serif;
    font-weight: 600 !important;
    font-size: 100px !important;
    line-height: 110px;
    color: #FFFFFF !important;

    width: 834px;
}

.hero-content p {
    font-family: "Jost", sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: #FFFFFF !important;

    width: 550px;
    padding-top: 14px;
    padding-bottom: 50px;
    margin: 0 !important;
}

.hero-image {
    width: 845px;
    height: 900px;
    background-color: #C4C4C4;
}

/* ======================================
            SERVICE SECTION
====================================== */

.section-service {
    padding-top: 220px;
    padding-bottom: 120px;
}

.section-service .card {
    padding-top: 50px;
    padding-left: 35px !important;
    border: none !important;

    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
}

.section-service .card:hover {
    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);

}

.section-service .card img {
    width: 68px !important;
    margin: 0px !important;
}

.section-service .card-body {
    padding: 0px !important;
}

.section-service .card-title {
    font-family: "Vollkorn", serif !important;
    font-weight: 800 !important;
    font-size: 24px !important;
    color: #00413D !important;

    margin: 0 !important;
    padding-top: 26px;
    padding-bottom: 15px;
    text-align: left !important;
}

.section-service .card-text {
    font-family: "Jost", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px;
    color: #00413D !important;
    text-align: left !important;
    padding-bottom: 30px;

}

.section-service .fa-arrow-right-long {
    font-size: 24px !important;
    color: #00413D !important;
    margin-bottom: 50px;

    transform: translateX(0px);
    transition: 0.4s ease-in-out;
}

.section-service .fa-arrow-right-long:hover {
    color: #E5745D !important;

    transform: translateX(8px);
}

/* ======================================
            ABOUT ME SECTION
====================================== */

.section-aboutme .section-lable {
    justify-content: flex-start;
}

.section-aboutme .section-headline {
    text-align: left;
    padding-bottom: 4px !important;
}

.section-aboutme .btn {
    margin-top: 50px !important;
}

.circular-progress {
    margin: 80px 0 !important;
}

.progess-topic {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    padding: 15px 0px;

    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progess-topic:hover {
    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
}

.progess-topic h5 {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 26px;
    color: #00413D;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    margin: 25px 0;
}

.circular-progress-bar {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.circular-progress-bar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 160px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.circular-progress-bar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 180px;
    height: 180px;
    background-color: transparent !important;
    border-radius: 50%;
}

.circular-progress-bar:nth-child(1) {
    background: conic-gradient(#E5745D calc(70 * 3.6deg), #C4C4C4 0deg);
}

.circular-progress-bar:nth-child(2) {
    background: conic-gradient(#E5745D calc(85 * 3.6deg), #C4C4C4 0deg);
}

.circular-progress-bar:nth-child(3) {
    background: conic-gradient(#E5745D calc(60 * 3.6deg), #C4C4C4 0deg);
}

.circular-progress-bar:nth-child(4) {
    background: conic-gradient(#E5745D calc(40 * 3.6deg), #C4C4C4 0deg);
}

.circular-progress-bar span {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 26px;
    color: #E5745D;

    z-index: 1;
}

/* ======================================
            PROJECTS SECTION
====================================== */

.section-projects .section-lable {
    justify-content: flex-start;
}

.section-projects .section-headline {
    text-align: left;
    padding-bottom: 0px !important;
}

.section-projects .icon-set {
    display: flex;
    gap: 20px;
}

.section-projects .fa-arrow-left,
.section-projects .fa-arrow-right {
    font-size: 24px !important;
    color: #00413D !important;
    margin: 0px;


    background-color: transparent;
    padding: 15px 25px;
    border: 1px solid rgba(0, 65, 61, .10);

    transform: translateX(0px);
    transition: 0.4s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-projects .fa-arrow-left:hover,
.section-projects .fa-arrow-right:hover {
    color: #FFFFFF !important;
    background-color: #E5745D;
}

.project-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-projects .project {
    padding: 0 15px;
}

.section-projects .card.h-100 {
    border-radius: 0 !important;
    border: 1px solid rgba(196, 196, 196, 0.1);
}

.section-projects .card.h-100 img {
    height: 270px !important;
    margin: 0px !important;
    border: 5px solid #C4C4C4;
    border-radius: 0 !important;
}

.section-projects .card-body {
    padding: 0px !important;
    padding-left: 30px !important;
    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);

    transition: 0.4s ease-in-out;

}

.section-projects .card-body:hover {
    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
}

.section-projects .card-text.top {
    font-family: "Vollkorn", sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #E5745D !important;
    text-align: left !important;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.section-projects .card-title {
    font-family: "Vollkorn", serif !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 30px;
    color: #00413D !important;

    margin: 0 !important;
    padding-bottom: 10px;
    text-align: left !important;
}

.section-projects .card-text {
    font-family: "Jost", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px;
    color: rgba(0, 65, 61, .70) !important;
    text-align: left !important;
    width: 289px;
    margin: 0;
    padding-bottom: 24px;
}

.section-projects .fa-arrow-right-long {
    margin: 0px;
}

.section-projects .btn {
    display: inline-block;
    margin: 60px 540px;
}

/* ======================================
            PORTFOLIO SECTION
====================================== */

.section-portfolio {
    margin: 120px 0;
}

.section-portfolio .ul-set {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.section-portfolio .ul-set li {
    margin: 0;
    margin-right: 25px;
    font-family: "Vollkorn", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #00413D !important;
    position: relative;
}

.section-portfolio .ul-set li::before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #E5745D !important;
    position: absolute;
    top: 23px;
    left: 0;

    transition: 0.4s ease-in-out;
}

.section-portfolio .ul-set li:hover::before {
    width: 100%;
}

.portfolio {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.4s ease-in-out;
}


.portfolio-img {
    width: 570px;
    height: 420px;
}

.portfolio-title {
    width: 570px;
    background-color: #00413D;
    padding: 22px 0;
    padding-left: 20px;
    margin: 0;
}

.portfolio:hover .portfolio-title {
    background-color: #E5745D;
}

.portfolio-title h4 {
    font-family: "Vollkorn", sans-serif;
    font-weight: 600 !important;
    font-size: 24px !important;
    color: #FFFFFF !important;
}

.portfolio-title h5 {
    font-family: "Jost", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: rgba(255, 255, 255, 0.70) !important;
}

/* ======================================
            TESTIMONIAL SECTION
====================================== */

.section-testimonial {
    background-color: #F9F4F1;
    padding-top: 121px;
    margin: 122px 0;
    padding-bottom: 122px;
}

.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonial {
    width: 570px !important;
    background-color: #FFFFFF;
    border-top: 5px solid #E5745D;
    margin-bottom: 40px;

    -webkit-box-shadow: 14px 16px 22px -21px #000000;
    box-shadow: 14px 16px 22px -21px #000000;
}

.testimonial p {
    font-family: "Jost", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 26px;
    color: rgba(0, 65, 61, rgba(0, 65, 61, .70)) !important;

    padding: 30px 40px;
}

.client-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.client-image {
    width: 100px;
    height: 100px;
    background-color: #C4C4C4;
    border: 2px solid #E5745D;
    border-radius: 50%;

    position: relative;
    margin: 0 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.client-image::before {
    content: "";
    position: absolute;

    inset: 1px;
    border: 5px solid #FFFFFF !important;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.client-image i {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    background-color: #E5745D;
    border-radius: 50%;

    z-index: 100;

    position: absolute;
    top: 70px;
    margin: 0 !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.client-det h5 {
    font-family: "Vollkorn", sans-serif;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 20px;
    color: #00413D !important;
}

.client-det h6 {
    font-family: "Jost", sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 14px;
    color: rgba(0, 65, 61, .70) !important;
}

.client-det .checked {
    color: #FF9F3F;
}

/* ======================================
            CONTACT SECTION
====================================== */
.section-contact {
    margin-bottom: 120px;
}

.contact-img {
    width: 100%;
}

.section-contact .section-lable {
    justify-content: flex-start;
}

.section-contact .section-headline {
    text-align: left;
    padding-bottom: 4px !important;
}

input {
    margin-top: 57px !important;
    padding-bottom: 12px;
    border: 1px solid transparent;

    border-bottom: 1px solid rgba(0, 65, 61, .10);
}

input::placeholder {
    font-family: "Jost", sans-serif;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #00413D !important;
}

.section-contact .btn {
    margin-top: 50px;
}

input:focus-visible {
    outline: none;
}

.contact-row {
    padding-right: 50px;
}

/* ======================================
            BLOG SECTION
====================================== */

.blog-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-blog .blog {
    padding: 0 15px;
}

.section-blog .card.h-100 {
    border-radius: 0 !important;
    border: 1px solid rgba(196, 196, 196, 0.1);
}

.section-blog .card.h-100 img {
    height: 270px !important;
    margin: 0px !important;
    border: 5px solid #C4C4C4;
    border-radius: 0 !important;
}

.section-blog .card-body {
    padding: 0px !important;
    padding-left: 30px !important;
    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.1);

    transition: 0.4s ease-in-out;
}

.section-blog .card-body:hover {
    -webkit-box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 9px -2px rgba(0, 0, 0, 0.3);
}

.section-blog .fa-arrow-right-long {
    margin: 0px;
}

/* ======================================
            FOOTER SECTION
====================================== */

.section-footer {
    margin-top: 120px;
    background-color: #00413D;
    padding-top: 80px;
}

.section-footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-footer .ul-set {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

.section-footer .ul-set li {
    color: rgba(255, 255, 255, 0.80);
    margin-top: 60px;
    padding: 10px 40px;
    border-right: 3px solid rgba(255, 255, 255, .1);

    font-family: "Jost", sans-serif !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.section-footer .ul-set li:last-child {
    border-right: 1px solid transparent;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.8);
    padding: 0 423px;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.footer-icons .fa-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #E5745D;
    border-radius: 50%;

    font-size: 40px;
    color: #FFFFFF;

    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.copyright {
    font-family: "Jost", sans-serif;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: rgba(255, 255, 255, .70) !important;
    padding: 30px 0;
}